<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a routerLink="/dashboard/home">
                        Farm AI
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/home" fragment="about">
                        À propos
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/analytics">
                        Analyses
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/settings">
                        Paramètres
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}} <strong>Farm&nbsp;AI</strong> — Surveillance agricole intelligente.
            Tous droits réservés.
        </div>
    </div>
</footer>
